@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
.row{
background-color: #f3e9f1;   
}
.navbar-nav{
    font-size: 1.5em;
    margin-left: 30px;
}
.card-img-top{
    height: 259px;
    border-radius: 15px 15px 0 0;
}
.card{
    background-color: #C9DFF3;
    border-radius: 15px;
}
#imgProduit{
    height: 300px;
    border-radius: 15px;
}
.form-select{
    width: 50%;
    margin-bottom: 15px;
    border-radius: 15px;
}
.btn-primary{
    border-radius: 15px;
}